# This is a sample .env file for configuring application

# OpenAI-compatible LLM API Settings
# API Base URL for the LLM. Default is None (OpenAI)
# LLM_BASE_API=...
# API Key for the LLM
LLM_API_KEY=sk-...
# LLM model to use
LLM_MODEL=gpt-4o-2024-08-06
# LLM proxy url (uncomment if you are using one)
# LLM_PROXY_URL=http://...

# PostgreSQL LangGraph Checkpointer Settings
# Host for the PostgreSQL database
CHECKPOINTER_POSTGRES_HOST=localhost
# Port for the PostgreSQL database
CHECKPOINTER_POSTGRES_PORT=5432
# Database name for the PostgreSQL database
CHECKPOINTER_POSTGRES_DB=checkpointer
# User for the PostgreSQL database
CHECKPOINTER_POSTGRES_USER=checkpointer
# Password for the PostgreSQL database
CHECKPOINTER_POSTGRES_PASSWORD=your_password_here

# Code Search API Settings
CODE_SEARCH_API_PORT=8000
SEARCH_API_URL=http://localhost:8000
QDRANT_URL=http://localhost:6333
EMBEDDER_URL=http://localhost:8001/v1/embeddings

# Sourcebot Settings
SOURCEBOT_URL=http://localhost:3000

# VLLM Settings
VLLM_MODEL=Qodo/Qodo-Embed-1-1.5B